/* You can add global styles to this file, and also import other style files */
a {
  cursor:pointer;
}

.white {
  color: white;
}

body, html {
  height: 100%;
}

.bod {
  background-image: url(/assets/img/blurred-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
