<!DOCTYPE html>
<html>
<body class="bod">
  <app-camera (pictureTaken)="handleImage($event)" (cameraOpened)="handleCameraOpened()" ></app-camera>

  <div style="text-align:center" class="snapshot" *ngIf="webcamImage">
    <img src="{{webcamImage.imageAsDataUrl}}" id="latestImage" class="resizableImage"/>
  </div>
  <br>
  <div class="centerAligned">
    <div>
      <p id="mostSimilarText" style="font-size:x-large; font-weight:bold; visibility:hidden;">A leghasonlóbb kép:</p>
      <img id="mostSimilarFace" class="resizableImage" src="{{lastVerifyResult.Image}}" />
    </div>
    <div *ngIf="successUpload" type="success" class="alert alert-success" (close)="successUpload = null">
      {{ successUpload }}

    </div>
    <div *ngIf="successMessage" type="success" class="alert alert-success" (close)="successMessage = null">
      {{ successMessage }}

    </div>

    <button id="btn" type="button" class="btn btn-default" style="margin-top: 30px;" (click)="onLoginButtonClicked()">Belépés</button>
    <div style="margin-top:30px;"> <h1 id="link" style="cursor:pointer;" (click)="onNavigate()"></h1></div>
  </div>
</body>
</html>
