<!DOCTYPE html>
<html>
<body class="bod">
  <app-camera (pictureTaken)="handleImage($event)"></app-camera>

  <div (window:resize)="onResize($event)" style="text-align:center" class="snapshot" *ngIf="webcamImage">
    <img [src]="webcamImage.imageAsDataUrl" />
  </div>
  <br>
  <div class="centerAligned">
    <div>
      <img id="mostSimilarFace" src="{{lastVerifyResult.Image}}" />
    </div>
    <div *ngIf="successUpload" type="success" class="alert alert-success" (close)="successUpload = null">
      {{ successUpload }}

    </div>
    <div *ngIf="successMessage" type="success" class="alert alert-success" (close)="successMessage = null">
      {{ successMessage }}

    </div>

    <div *ngIf="alertMessage" type="danger" class="alert alert-danger" (close)="alertMessage = null">
      {{ alertMessage }}
    </div>
    <button id="btn" type="button" class="btn btn-default" style="margin-top: 30px;" (click)="onLoginButtonClicked()">Login</button>
    <div> <h1 id="link"></h1></div>
  </div>
</body>
</html>
