<!DOCTYPE html>
<html>
<body class="bod">

    <div *ngIf="selectedFile" class="img-preview-container">

      <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
           [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
      </div>



      <div *ngIf="selectedFile.pending" class="img-loading-overlay">
        <div class="img-spinning-circle"></div>
      </div>

      <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
      <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
    </div>

    <app-camera (pictureTaken)="handleImage($event)"></app-camera>


    <div style="text-align:center" class="snapshot" *ngIf="webcamImage">
      <img class="resizableImage" [src]="webcamImage.imageAsDataUrl" />
    </div>

    <div style="text-align:center" class="snapshot" *ngIf="webcamImage">
      <button id="btn" class="btn btn-default" style="margin-top: 30px;" (click)="onAnalyseButtonClicked()">Analyse</button>
    </div>
    <div *ngIf="successMessage" type="success" class="alert alert-success" (close)="successMessage = null">
      {{ successMessage }}

    </div>

    <div id="div" style="white-space: pre-line"></div>

  </body>
  </html>
