<!DOCTYPE html>
<html>
  <body class="bod" (window:resize)="onResize($event)">
    <div *ngIf="selectedFile" class="img-preview-container">
      <div
        class="img-preview{{ selectedFile.status === 'fail' ? '-error' : '' }}"
        [ngStyle]="{ 'background-image': 'url(' + selectedFile.src + ')' }"
      ></div>

      <div *ngIf="selectedFile.pending" class="img-loading-overlay">
        <div class="img-spinning-circle"></div>
      </div>

      <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success">
        Kép sikeresen feltöltve!
      </div>
      <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger">
        Nem sikerült a képet feltölteni!
      </div>
    </div>

    <div>
      <input type="file"
             (change)="onFileChanged($event)"
             accept="image/*">
    </div>
    <div>
      <p style="font-size:x-large; font-weight:bold; margin-top: 20px;">Vagy:</p>
    </div>

    <app-camera (pictureTaken)="handleImage($event)"></app-camera>

    <div style="text-align:center" class="snapshot">
      <canvas id="ct" width="600" height="500"></canvas>
    </div>

    <div style="text-align:center" class="snapshot" *ngIf="pictureChosen">
      <button
        id="btn"
        class="btn btn-default"
        style="margin-top: 30px;"
        (click)="changeFace(false)"
      >
        Előző arc
      </button>
      <button
        id="btn"
        class="btn btn-default"
        style="margin-top: 30px;"
        (click)="onAnalyseButtonClicked()"
      >
        Analizálás
      </button>
      <button
        id="btn"
        class="btn btn-default"
        style="margin-top: 30px;"
        (click)="changeFace(true)"
      >
        Következő arc
      </button>

      <div
        *ngIf="successMessage"
        type="success"
        class="alert alert-success"
        (close)="successMessage = null"
      >
        {{ successMessage }}
      </div>
      <div style="text-align:center" id="card" class="snapshot" *ngIf="pictureChosen" hidden="true">
        <br />
        <div
          class="card text-white border-secondary mb-3"
          style="background-color: #626262; text-align: center;"
        >
          <div class="card-body">
            <h1 class="card-title">Adatok</h1>
            <h5>
              <div id="div" style="white-space: pre-line"></div>
            </h5>
          </div>
        </div>
      </div>
    </div>

    <!--<div id="carouselExampleControls" class="carousel slide" data-ride="false" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-block w-100" id="div" style="white-space: pre-line"></div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" (click)="changeFace(false)">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Előző</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" (click)="changeFace(true)">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Következő</span>
      </a>
    </div>
-->
    <br />
    <!--<div id="div" style="white-space: pre-line"></div> -->
  </body>
</html>
