<!DOCTYPE html>
<html>
<body class="bod">
  <div class="page-header section-dark" style="background-image: url('assets/img/stock-office-photo.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">Face Analysis</h1>
        </div>
      </div>
    </div>
    <h6 class=" category-absolute ml-auto mr-auto">
      Coded by Márk Tolnai and Vilmos Végvári
    </h6>
  </div>
</body>
</html>
