<!DOCTYPE html>
<html>
<body>
  <div class="page-header section-dark" style="background-image: url('assets/img/stock-office-photo.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div>
            <img src="assets/img/faceapilogo.jpg" alt="">
          </div>
          <h1 class="presentation-title">Face Analysis</h1>
        </div>
        <h2 class="presentation-subtitle text-center">powered by
          <img src="assets/img/mslogo.jpg" alt="">
        </h2>
      </div>
    </div>
    <h6 class=" category-absolute ml-auto mr-auto">
      Coded by Márk Tolnai and Vilmos Végvári
    </h6>
  </div>
</body>
</html>
