<br>
  <div class="mb10">
      <div id="updatenote" class="updatenote mt10"> loading model ..</div>
      <br><br>
    <button  id="trackbutton" class="btn btn-default" type="button" disabled (click)="toggleVideo()">
      Toggle Video
    </button>
  </div>
  <video class="videobox canvasbox" autoplay="autoplay" id="myvideo"></video>
  <canvas id="canvas" class="border canvasbox"></canvas>

  <script src="https://unpkg.com/carbon-components@latest/scripts/carbon-components.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/handtrackjs@latest/dist/handtrack.min.js"> </script>
